/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front {
	position: absolute;
	transition: -webkit-transform 3s;
	-webkit-transform: rotateY(0deg) ;

}

.portfolio-item {
	position: relative;
	perspective : 600px;
	/*-webkit-transform: perspective(600px);*/
	-webkit-perspective: 600px;
	
}
.portfolio-item:hover .front {
		-webkit-transform: perspective(600px) rotateY(-180deg) ;
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		perspective: 600px;
}

.portfolio-item:hover .back {
		-webkit-transform: perspective(600px) rotateY(0deg) ;

	}

.back {
	transition: -webkit-transform 3s;
	-webkit-transform:  rotateY(-180deg) ;
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		

}

/*.front:hover {
	opacity: 0;		
} 
.back:hover {
	opacity: 1;
} */